@import "tailwindcss";

@theme {
  --color-black: #0d1b2a;
  --color-lightblack: #1b263b;
  --color-gray: #415a77;
  --color-cement: #778da9;
  --color-white: #f3f3f3;
}

@layer base {
  html,
  body {
    @apply bg-white text-black;
  }
}
